<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>


    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- jqueryui -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
        rel='stylesheet'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>

    
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/2d9b67a497.js" crossorigin="anonymous"></script>


    <!-- custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="./css/to_do_list_style.css">

</head>

<body>
    <form class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bg-light opacity-9">
        <section id="title">
            <h1 class="text-secondary text-center"><i class="fas fa-pencil-alt"></i> Dockett -TODO App</h1>
        </section>

        <hr class="m-0 bg-warning">

        <section id="desc">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                    placeholder="What do you need to do?"></textarea>
            </div>
        </section>

        <hr class="mt-0 mb-2">

        <section id="two-dropdowns" class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-white dropdown-toggle btn-lg" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Choose a Category
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Personal</a>
                    <a class="dropdown-item" href="#">Work</a>
                    <a class="dropdown-item" href="#">School</a>
                    <a class="dropdown-item" href="#">Cleaning</a>
                    <a class="dropdown-item" href="#">Other</a>
                </div>
            </div>
            <div class="vertical-line"></div>
            <input type="text" id="my_date_picker" placeholder="Due Date">
        </section>

        <hr class="mt-2 mb-3">

        <section id="task-action" class="text-center">
            <button type="button" class="btn btn-success btn-lg m-3"><i class="fas fa-plus"></i> ADD TASK</button>
            <button type="button" class="btn btn-danger btn-lg m-3"><i class="far fa-trash-alt"></i> DELETE TASKS</button>
        </section>
        
        <section id="tasks">
            <div class="task">

            </div>
        </section>
    </form>





    <!-- Date picker from jquery -->
    <script> 
        $(document).ready(function() { 
          
            $(function() { 
                $( "#my_date_picker" ).datepicker(); 
            }); 
        }) 
    </script> 


    <!-- VANTA JS -->
    <script type="text/javascript" src="./js/three.r95.min.js"></script>
    <script type="text/javascript" src="./js/vanta.rings.min.js"></script>
    <script>
        VANTA.RINGS({
            el: "body",
            mouseControls: true,
            touchControls: true,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>


    <!-- custom script -->
    <script type="text/javascript" src="./js/to_do_list_script.js"></script>
</body>

</html>